<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Student Registration Form</h2>

    <form method="POST">

        <input type="text" name="name" placeholder="Enter Name" required>

        <input type="email" name="email" placeholder="Enter Email" required>

        <p>Gender:</p>
        <label><input type="radio" name="gender" value="Male"> Male</label>
        <label><input type="radio" name="gender" value="Female"> Female</label>

        <p>Select Course:</p>
        <select name="course">
            <option value="BCA">BCA</option>
            <option value="BTech">BTech</option>
            <option value="MCA">MCA</option>
        </select>

        <button type="submit">Submit</button>

    </form>

    <p class="msg">{{ message }}</p>
</div>

</body>
</html>